<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
<head>    
    <title>Envíos Bios - Categorias - Agregar</title>   
</head>
<body th:remove="tag">
    <div class="formulario-registro">
        <h1>Agregar Categoria</h1>
        <form method="post" th:object="${categoria}">            
            <div class="username-registro">
                <label for="nombre">Nombre</label>
                <input type="text" th:field="*{nombre}">
                <p th:errors="*{nombre}" class="errores"></p>
            </div>
            <div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="submit" value="Agregar" class="boton">
            </div>
        </form>
        
        <p th:if="${mensaje}" th:text="${mensaje}" class="errores"></p>    
        <a th:href="@{/categorias}" class="volver underline">Volver</a>
    </div>
    

    <script>
        document.getElementById('nombre').focus();
        document.getElementById('nombre').select();
    </script>
</body>
</html>