<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="html(titulo, contenido)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <header class="cabezal">
        <h1>Envíos Bios</h1>
    </header>
    <nav class="navegacion">
        <ul>
            <li>
                <a th:href="@{/}">Inicio</a>
            </li>

            <li sec:authorize="hasAuthority('Empleado')">
                <a href="#">Mantenimiento</a>
                <ul>
                    <li><a th:href="@{/sucursales}">Sucursales</a></li>
                    <li><a th:href="@{/empleados}">Empleados</a></li>
                    <li><a th:href="@{/categorias}">Categorías</a></li>
                    <li><a th:href="@{/estadosrastreo}">Estados de Rastreo</a></li>
                    <li><a th:href="@{/paquetes}">Paquetes</a></li>
                </ul>
            </li>
        </ul>
        <ul>  
            <li sec:authorize="hasAuthority('Cliente') or isAnonymous()"><a href="#">Envíos</a>
                <ul>
                    <li><a th:href="@{/paquetes/registrar}">Realizar</a></li>
                    <li><a th:href="@{/paquetes/listar}">Listar</a></li>
                </ul>
            </li>        
            
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/ingresar}">Ingresar</a>
                <ul>
                    <li><a th:href="@{/registrarcliente}">Registro</a></li>
                </ul>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="#" sec:authentication="name"></a>
                <ul>
                    <li><a th:href="@{/salir}">Salir</a></li>
                </ul>
            </li>
        </ul>       
    </nav>

</body>
</html>