* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabezal {
    text-align: center;
    background-color: black;
    color: white;
    display: none;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}

.navegacion ul {
    display: flex;
    list-style: none;
    gap: 2rem;    
}

.navegacion ul li {
    position: relative;
    padding: 0.5rem;    
}



.navegacion ul li ul {
    display: none;
    margin-top: 0.5rem;    
}

.navegacion ul li:hover ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    gap: 0; 
}

.navegacion ul li:hover ul li {
    padding: 0.2rem 0.5rem;
    border: 1px solid white;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
}

a:visited {
    color: white;
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
} 