<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
<head>    
    <title>Envíos Bios - Sucursales - Detalle</title>   
</head>
<body th:remove="tag">
    <div class="detalle-cuenta">
        <h1>Detalle de Sucursal</h1>    
        <th:block th:if="${sucursal}">
            <ul>
                <li>Número: <span th:text="${sucursal.numero}"></span></li>
                <li>Nombre: <span th:text="${sucursal.nombre}"></span></li>               
            </ul>
        </th:block>
        <p th:if="${mensaje}" th:text="${mensaje}" class="errores"></p>   
        <a th:href="@{/sucursales}" class="volver underline">Volver</a>
    </div>     
</body>
</html>