<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
<head>    
    <title>Envíos Bios - Sucursales - Modificar</title>   
</head>
<body th:remove="tag">
    <div class="formulario-registro">
        <h1>Modificar Sucursal</h1>    
        <form th:if="${sucursal}" method="post" th:object="${sucursal}" class="form-registro">
            <div class="username-registro">
                <input type="number" th:field="*{numero}" id="numero" disabled>
                <input type="number" th:field="*{numero}" hidden>
                <label for="numero">Número</label>
                <p th:errors="*{numero}" class="errores"></p>
            </div>
            <div class="username-registro">
                <input type="text" th:field="*{nombre}">
                <label for="nombre">Nombre</label>
                <p th:errors="*{nombre}" class="errores"></p>
            </div>
            <div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="submit" value="Modificar" class="boton">
            </div>
        </form>
        <p th:if="${mensaje}" th:text="${mensaje}" class="errores"></p>
        <a th:href="@{/sucursales}" class="volver underline">Volver</a>
    </div>   
    <script>
        document.getElementById('nombre').focus();
        document.getElementById('nombre').select();
    </script>
</body>
</html>